<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <context:component-scan base-package="cfvbaibai.cardfantasy.web.listener,cfvbaibai.cardfantasy.web.dao" />

    <!-- Enable annotations like @Autowired and @Qualifier -->
    <context:annotation-config />

    <!--  <import resource="env.xml" /> -->

	<!--
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="/WEB-INF/*-mapper.xml" />
    </bean>
	-->

	<!--
    <bean id="postMapperFactory" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cfvbaibai.cardfantasy.web.dao.PostMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
	-->

    <bean id="dummyGameUI" class="cfvbaibai.cardfantasy.game.DummyGameUI" />
    
    <bean class="cfvbaibai.cardfantasy.Randomizer.RealRandomizer">
        <constructor-arg ref="dummyGameUI" />
    </bean>
    
    <bean class="cfvbaibai.cardfantasy.data.CardDataStore" factory-method="loadDefault" />
<!--
    <bean class="cfvbaibai.cardfantasy.web.dao.DaoServiceImpl" />

    <bean class="java.util.concurrent.atomic.AtomicInteger">
        <qualifier value="active-session-count" />
        <constructor-arg>
            <value>1</value>
        </constructor-arg>
    </bean>
-->
    <bean class="cfvbaibai.cardfantasy.web.beans.UserActionRecorder" />

    <bean class="cfvbaibai.cardfantasy.web.beans.JsonHandler" />

    <bean id="general-logger" class="cfvbaibai.cardfantasy.web.beans.Logger" />

    <bean class="cfvbaibai.cardfantasy.game.MapStages" />

    <!-- 
    <bean class="java.util.logging.Logger" factory-method="getLogger">
        <qualifier value="communication" />
        <constructor-arg>
            <value>cardfantasy-communication</value>
        </constructor-arg>
    </bean>
    -->
    <!-- 
    <bean id="user-error-logger" class="java.util.logging.Logger" factory-method="getLogger">
        <qualifier value="user-error" />
        <constructor-arg>
            <value>cardfantasy-user-error</value>
        </constructor-arg>
    </bean>
     -->
    
    <bean class="cfvbaibai.cardfantasy.web.ErrorHelper">
        <constructor-arg index="0" ref="general-logger" />
<!--
        <constructor-arg index="1" ref="user-error-logger" />
-->
    </bean>
</beans>