<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cfvbaibai.cardfantasy.web.dao.PostMapper">
    <resultMap type="cfvbaibai.cardfantasy.web.dao.Post" id="post-map">
        <id property="id" column="i_id" />
        <result property="senderId" column="nvc_sender_id" />
        <result property="content" column="nvc_content" />
        <result property="created" column="dt_created" />
    </resultMap>
    <resultMap type="cfvbaibai.cardfantasy.web.dao.Reply" id="reply-map">
        <result property="replyTo" column="i_reply_to" />
        <result property="senderId" column="nvc_sender_id" />
        <result property="content" column="nvc_content" />
        <result property="created" column="dt_created" />
    </resultMap>
    <resultMap type="cfvbaibai.cardfantasy.web.dao.BossBattleStatEntry" id="boss-battle-entry-map">
        <result property="battleCount" column="i_battle_count" />
        <result property="bossName" column="nvc_boss_name" />
        <result property="heroLv" column="i_hero_lv" />
        <result property="minDamage" column="bi_min_damage" />
        <result property="avgDamage" column="bi_avg_damage" />
        <result property="maxDamage" column="bi_max_damage" />
        <result property="sortedDeck" column="nvc_deck" />
    </resultMap>

    <select id="getThreads" resultMap="post-map,reply-map" statementType="CALLABLE"
        parameterType="cfvbaibai.cardfantasy.web.dao.PostRange">
        {CALL sp_com_get_threads(
                #{begin,jdbcType=INTEGER,mode=IN},
                #{end,jdbcType=INTEGER,mode=IN}
        )}
    </select>
    
    <select id="getThreadCount" parameterType="java.util.Map" statementType="CALLABLE">
        {CALL sp_com_get_thread_count(
                #{count,jdbcType=INTEGER,mode=OUT}
        )}
    </select>
    
    <select id="recommendBossBattleDeck" resultMap="boss-battle-entry-map,boss-battle-entry-map" statementType="CALLABLE"
        parameterType="cfvbaibai.cardfantasy.web.dao.BossBattleDeckFilter">
        {CALL sp_stat_recommend_boss_battle_deck(
                #{bossName,jdbcType=VARCHAR,mode=IN},
                #{maxHeroLv,jdbcType=INTEGER,mode=IN}
        )}
    </select>
    
    <update id="newPost" statementType="CALLABLE"
        parameterType="cfvbaibai.cardfantasy.web.dao.Post">
        {CALL sp_com_new_post(
                #{senderId,jdbcType=VARCHAR,mode=IN},
                #{content,jdbcType=VARCHAR,mode=IN},
                #{id,jdbcType=INTEGER,mode=OUT}
        )}
    </update>
    
    <update id="newReply" statementType="CALLABLE"
        parameterType="cfvbaibai.cardfantasy.web.dao.Reply">
        {CALL sp_com_new_reply(
                #{replyTo,jdbcType=INTEGER,mode=IN},
                #{senderId,jdbcType=VARCHAR,mode=IN},
                #{content,jdbcType=VARCHAR,mode=IN}
        )}
    </update>
    
    <update id="newBossBattleStatEntry" statementType="CALLABLE"
        parameterType="cfvbaibai.cardfantasy.web.dao.BossBattleStatEntry">
        {CALL sp_stat_new_boss_battle_entry(
                #{bossName,jdbcType=VARCHAR,mode=IN},
                #{battleCount,jdbcType=BIGINT,mode=IN},
                #{heroLv,jdbcType=INTEGER,mode=IN},
                #{minDamage,jdbcType=BIGINT,mode=IN},
                #{avgDamage,jdbcType=BIGINT,mode=IN},
                #{maxDamage,jdbcType=BIGINT,mode=IN},
                #{sortedDeck,jdbcType=VARCHAR,mode=IN}
        )}
    </update>
    <!-- 
    <select id="findStudentById" parameterType="int" resultType="Student">
        SELECT STUD_ID AS STUDID, NAME, EMAIL, DOB FROM STUDENTS WHERE STUD_ID=#{Id} 
    </select>
    <insert id="insertStudent" parameterType="Student">
        INSERT INTO STUDENTS(STUD_ID,NAME,EMAIL,DOB) VALUES(#{studId},#{name},#{email},#{dob}) 
    </insert>
     -->
</mapper>