@CHARSET "UTF-8";
div#main-container {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

#help {
	font-size: small;
}

.battle-output {
	height: 400px;
	overflow: auto;
	white-space: nowrap;
	font-family: 新宋体, 宋体, consolas, tahoma, arial;
	font-size: small;
}

body {
	font-size: 90%;
}

div.ui-block-label-select {
	padding-top: 10px;
}

div.ui-block-label-number {
	padding-top: 12px;
}

div.player div.ui-block-a {
	display: block;
	width: 80px;
	white-space: nowrap;
}

div.player div.ui-block-b {
	width: 60px;
}

div.player div.ui-block-b div.ui-input-text {
	width: 40px;
}

div.player div.ui-block-c {
	padding-left: 5px;
}

div.ui-collapsible-content {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
}

div#attackFirst div.ui-block-a,
div#attackFirst div.ui-block-b {
	max-width: 200px;
}

div#command a {
	min-width: 75px;
}

div.recommended-url {
	padding: 5px;
	font-size: smaller;
}

body .ui-content {
	padding: 0;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

fieldset div.ui-controlgroup-controls {
	width: 100%;
}

fieldset div.ui-controlgroup-controls .ui-select {
	width: 50%;
}

.ui-dialog-contain {
  width: 92.5%;
  max-width: 450px;
  margin: 1% auto 0 auto;
  padding: 0;
  position: relative;
}

#battle-canvas {
	margin-left: auto;
	margin-right: auto;
}