@CHARSET "UTF-8";

.flex-container {
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-box; /* Safari */
    display: -webkit-flex; /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: gray;
}

html {
    overflow-y: scroll;
    height: 101%
}

div#main-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#help {
    font-size: small;
}

img.help-img {
    width: 250px;
}

.battle-output {
    height: 400px;
    overflow: auto;
    white-space: nowrap;
    font-family: 新宋体, 宋体, consolas, tahoma, arial;
    font-size: small;
}

body {
    font-size: 90%;
}

div.ui-block-label-select {
    padding-top: 10px;
}

div.ui-block-label-number {
    padding-top: 12px;
}

div.player div.ui-block-a {
    display: block;
    width: 80px;
    white-space: nowrap;
}

div.player div.ui-block-b {
    width: 60px;
}

div.player div.ui-block-b div.ui-input-text {
    width: 50px;
}

div.player div.ui-block-c {
    padding-left: 5px;
}

div.ui-collapsible-content {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}

div.recommended-url {
    padding: 5px;
    font-size: smaller;
}

body .ui-content {
    padding: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

fieldset div.ui-controlgroup-controls {
    width: 100%;
}

fieldset.select-4 div.ui-controlgroup-controls .ui-select {
    width: 25%;
}

fieldset.select-2 div.ui-controlgroup-controls .ui-select {
    width: 50%;
}

fieldset.select-6-4 div.ui-controlgroup-controls>.ui-select:nth-child(1)
    {
    width: 60%;
}

fieldset.select-6-4 div.ui-controlgroup-controls>.ui-select:nth-child(2)
    {
    width: 40%;
}

.ui-dialog-contain {
    width: 90%;
    max-width: 800px;
    margin: 1% auto 0 auto;
    padding: 0;
    position: relative;
}

.ui-dialog-contain>.ui-content {
    padding: 1px;
}

.fixed-width .ui-dialog-contain {
    width: 98%;
    max-width: 500px;
    top: -40px;
}

div#battle-canvas canvas {
    margin-left: auto;
    margin-right: auto;
}

div#canvas-outline {
    padding: 2px;
}

div#player-status {
    margin: 5px;
    padding: 2px;
    border: 2px #888888 inset;
    border-radius: 3px;
    text-align: center;
}

table.form tr td:nth-of-type(1) {
    padding-right: 20px;
    white-space: nowrap;
    font-weight: bold;
}

table.form tr td:nth-of-type(2),
table.form tr td:nth-of-type(3),
table.form tr td:nth-of-type(4) {
    width: 100%;
}

table.form {
    width: 100%;
}

table.2d {
    background-color: #222222;
}

table.2d td {
    background-color: #FFFFFF;
}

table.avg-group-2 {
    width: 100%;
}

table.avg-group-2 tr td {
    width: 50%;
}

table.line-separated {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

table.line-separated th {
    padding: 10px;
    text-align: left;
}

table.line-separated td {
    padding: 10px;
    border-top: solid 1px black;
}

table.wiki-card-result-wide td,
table.wiki-card-narrow-wide td {
    padding: 5px;
}

table.wiki-card-result-wide {
    display: table;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
table.wiki-card-result-narrow {
    display: none;
}
table.wiki-card-result-wide tr {
    border: solid 1px #BBBBBB;
}
table.wiki-card-result-wide tr:first-child {
    white-space: nowrap;
}
table.wiki-card-result-wide tr td:nth-child(1),
table.wiki-card-result-wide tr td:nth-child(2),
table.wiki-card-result-wide tr td:nth-child(3) {
    white-space: nowrap;
}
table.wiki-card-result-wide tr td:nth-child(4),
table.wiki-card-result-wide tr td:nth-child(5),
table.wiki-card-result-wide tr td:nth-child(6),
table.wiki-card-result-wide tr td:nth-child(7),
table.wiki-card-result-wide tr td:nth-child(8) {
    text-align: center;
}

div.wiki-skill-result div {
    margin: 5px;
    width: 125px;
}

div.wiki-categories > div {
    float: left;
    width: 15%;
    min-width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.wiki-categories img.star-icon,
div.wiki-categories img.race-icon,
div.wiki-categories img.property-icon {
    width: 39px;
}

div.wiki-categories > div:last-child {
    float: none;
    clear: both;
}

span.wiki-home-link {
    display: none;
}
@media (min-width: 570px) {
    div.wiki-footer {
        display: none;
    }
    span.wiki-home-link {
        display: inline;
    }
}

/* Fix JQM header bug */
div.header-template.ui-panel-content-fixed-toolbar-open {
    left: 0;
    right: 0;
}

div.header-template {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

div.entity-title {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 0 -1px #BBBBBB, 0 2px #FFFFFF;
}

#deck-chooser div.candidate {
    width: 100%;
    height: 100px;
    overflow: auto;
    border: solid 1px #CCCCCC;
}

div.frame-outer {
    padding: 0;
    border-top: solid 1px #CCCCFF;
}

div.frame-inner {
    margin: 0;
    border-top: solid 1px #FFFFFF;
}

div#card-details div.entity-basic-info {
    margin-left: auto;
    margin-right: auto;
}

div#card-details div.entity-basic-info div {
    float: left;
    padding-right: 5px;
}

div.dashboard {
    padding: 2px;
}

div.dashboard ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

#news ul.news-content>li:first-child {
    color: red;
}

#news li.emphasize {
    font-size: 100%;
    font-weight: bold;
    color: blue;
}

#boss-battle table.boss-battle-massive td:nth-child(even) {
    padding-right: 2px;
}

#boss-battle table.boss-battle-massive td:nth-child(odd) {
    color: rgba(0, 0, 0, 0.25);
}

#test-rp div {
    
}

#test-rp div.to-test-rp-text {
    text-align: center;
    padding: 10px;
    font-size: 150%;
}

#test-rp div.test-rp-result-text {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#test-rp div.test-rp-result-text div.portrait {
    
}

#test-rp div.test-rp-result-text div.portrait img {
    padding-top: 10px;
}

#arena-battle-options-text {
    display: none;
}

table.wiki-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    border: 1px #AAAAAA solid;
    background-color: white;
}

table.wiki-table td {
    border: 1px #AAAAAA solid;
    vertical-align: middle;
}

table.view-card-table td.logo {
    min-width: 100px;
    height: 100px;
    padding: 0;
}

table.view-card-table td.logo img {
    border-width: 0;
    width: 100px;
    height: 100px;
}

table.wiki-table td.label {
    height: 55px;
    background-color: #eee;
}

table.wiki-table td.label.small {
    height: 1px;
}

table.view-card-table td.label {
    width: 20%;
}

table.view-card-table td.value {
    width: 20%;
}

img.cpt-large-portrait-img {
    width: 300px;
    height: 430px;
}

div.cpt-skill-line {
    display: none;
}

div.cpt-skill-name {
    color: white;
    font-size: 16px;
    font-family: 微软雅黑;
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000;
    position: absolute;
}

div.cpt-ability-text  {
    position: absolute;
    color: white;
    font-style: italic;
    font-size: 30px;
    font-family: Arial;
    text-shadow: 2px 2px 2px #777777, -2px -2px 2px #777777;
}

table.wiki-table td.title {
    height: 55px;
    font-size: larger;
    font-weight: bold;
    background-color: rgba(100, 100, 100, 0.2);
}

table.wiki-table td.content > div {
    text-align: center;
    float: left;
    width: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table.wiki-table td.skill-category-icon {
    padding-left: 10px;
    border-right-style: none;
    vertical-align: middle;
    width: 1px;
}

table.wiki-table td.skill {
    border-left-style: none;
}

table.wiki-table td.skill > div {
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table.wiki-table td.skill div.skill-name {
    font-weight: bold;
}

table.wiki-table td.skill div.skill-desc {
    font-size: smaller;
    color: #999999;
}

table.view-skill-table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

table.view-skill-table td.skill-name {
    max-width: 100px;
    padding-left: 1%;
    padding-right: 1%;
}

table.view-skill-table td.skill-desc,
table.view-skill-table tr.owning td {
    text-align: left;
    padding-left: 2%;
}

table.view-skill-category-table td.label {
    width: 10%;
}

table.view-rune-table td.label {
    width: 20%;
}

table.view-rune-table td.value {
    width: 30%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

table.view-category-table td.label {
    width: 50px;
}

.title img.property-icon,
.label img.property-icon,
.title img.race-icon,
.label img.race-icon {
    width: 38px;
}

table.wiki-table .logos-container {
    text-align: left;
    padding: 3px 0 0 3px;
}

div.clear {
    float: none;
    clear: both;
}

/****************************************************************
 *** START OF CardLogoTag & RuneLogoTag
 ****************************************************************/
div.card-logo-container,
div.rune-logo-container {
    display: inline-block;
    position: relative;
    width: 78px;
}

div.card-frame,
div.rune-frame {
    position: relative;
    width: 100%;
}

div.card-logo,
div.rune-logo {
    left: 0;
    top: 0;
    position: absolute;
    margin: 4px;
}

div.card-star,
div.rune-star {
    left: 0;
    top: 56px;
    position: absolute;
    margin: 4px;
}

@media (max-width: 400px) {
.responsive div.card-star,
.responsive div.rune-star {
    top: 27px;
}
div.responsive.card-logo-container,
div.responsive.rune-logo-container {
    width: 48px;
}
.responsive div.card-name,
.responsive div.rune-name {
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
}
}

div.card-name,
div.rune-name {
    position: absolute;
    top: 1px;
    left: 1px;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px black, 1px -1px black;
    font-size: 12px;
    color: white;
    font-family: 微软雅黑;
    margin: 1px 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img.card-logo,
img.rune-logo {
    width: 100%;
}
/****************************************************************
 *** END OF CardLogoTag & RuneLogoTag
 ****************************************************************/
 
table.view-stage-detail-table {
    margin: 10px 0 10px 0;
}

table.view-stage-detail-table td.bonus > div {
    margin: 5px 0 5px 2%;
    font-size: smaller;
    text-align: left;
}

table.view-stage-detail-table td.value > div {
    margin: 2px 0 2px 0;
    text-align: left;
}

table.view-stage-detail-table td.label:nth-child(1) {
    width: 10%;
}

table.view-stage-detail-table td.label:nth-child(2) {
    width: 35%;
}

table.view-stage-detail-table td.value:nth-child(2) {
    font-size: smaller;
}

table.view-stage-detail-table td.cards,
table.view-stage-detail-table td.runes {
    font-size: smaller;
    text-align: left;
    padding: 8px;
}

table.view-stage-detail-table td.cards div.item {
    float: left;
    width: 180px;
}

table.view-stage-detail-table td.runes div.item {
    float: left;
    width: 50px;
}

table.view-stage-detail-table div.clear {
    float: none;
    clear: both;
}

div.float-div {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

div.float-div > table  {
    width: 100%;
    border-width: 0;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

div.float-div div.content {
    position: relative;
    border: solid 2px gray;
    margin: auto;
    background-color: black;
}

div.float-header {
    color: white;
    margin-bottom: 10px;
}

div.float-footer {
    margin-top: 10px;
}

@media (max-width: 400px) {
    #wiki-tools {
        display: none;
    }
    table.wiki-table td.label {
        font-size: smaller;
    }
    table.wiki-card-result-wide {
        display: none;
    }
    table.wiki-card-result-narrow {
        display: table;
        border-collapse: collapse;
        width: 100%;
    }
    table.wiki-card-result-narrow tr.normal-line td:nth-child(1),
    table.wiki-card-result-narrow tr.normal-line td:nth-child(2) {
        width: 1px;
        white-space: nowrap;
    }
    table.wiki-card-result-narrow tr {
        border-style: solid;
        border-color: #BBBBBB;
        border-width: 0 1px 0 1px;
    }
    table.wiki-card-result-narrow tr:first-child {
        border-width: 1px 1px 1px 1px;
    }
    table.wiki-card-result-narrow tr.skill-extra-line {
        border-bottom-width: 1px;
    }
    table.view-card-table td.logo {
        min-width: 50px;
    }
    table.view-card-table td.logo img {
        width: 50px;
        height: 50px;
    }
    table.wiki-table td.label {
        height: 25px;
    }
    table.wiki-table td.title {
        height: 25px;
    }
    table.wiki-table td.skill-category-icon {
        padding-left: 5px;
        vertical-align: top;
        padding-top: 3px;
    }
    table.wiki-table td.skill-category-icon img.skill-category-icon {
        width: 16px;
    }
    table.wiki-table td.skill > div {
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}